<ngb-carousel>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../../assets/images/cousine1.jpg" style="height: 70vh; width: 100%" alt="Random first slide">
      </div>
      <div class="carousel-caption">
        <h3 style="text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;">Restaurant App</h3>
        <p style="text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;">Explore restaurants across our city</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../../assets/images/cuisine2.jpg" style="height: 70vh; width: 100%" alt="Random second slide">
      </div>
      <div class="carousel-caption">
        <h3 style="text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;">Various cuisines</h3>
        <p style="text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;">Chinese, American, German.. you name it!</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../../assets/images/cuisine3.jpg" style="height: 70vh; width: 100%" alt="Random third slide">
      </div>
      <div class="carousel-caption">
        <h3 style="text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;">Menus included</h3>
        <p style="text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;">Explore popular dishes in each restaurant</p>
      </div>
    </ng-template>
  </ngb-carousel>